.container-fluid {
  background-color: #dfd3c3;
  padding: 50px;
  margin-right: 0%;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

body {
  background-color: #f0ece3;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

input,
.btn {
  margin: 50px 0px;
  display: inline;
  position: relative;
  width: 100%;
}

input[type="text"] {
  background-color: whitesmoke;
}

.btn {
  background-color: black;
}

.details {
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: #596e79;
}

#ReposDiv p {
  font-family: "Righteous", cursive;
  color: #7e8a97;
}

h1 {
  font-family: "Grenze Gotisch", sans-serif;
  margin-top: 50px;
  font-size: 5rem;
}

input {
  color: lightgrey;
}

img {
  border-radius: 50%;
  width: 200px;
}

p {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
  .btn {
    margin: 2px 0px;
  }

  input {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 3rem;
  }
}
